__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
env/
.DS_Store

real_images/*
!real_images/.gitkeep
!real_images/README.md

realistic_meter_dataset/images/*
realistic_meter_dataset/preview_grid.png

*.h5
*.ckpt

logs/
outputs/
